.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #2c3e50;
  border-bottom: 2px solid #34495e;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  height: 80px;
  position: relative;
}

.mainH {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.dark-mode-toggle {
  background-color: #2c3e50;
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 30%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 70px;
}

.dark-mode-toggle:hover {
  background-color: #34495e;
  transform: scale(1.2);
}

body.dark-mode .dark-mode-toggle {
  background-color: #2c3e50;
}

body.dark-mode .dark-mode-toggle:hover {
  background-color: #34495e;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .mainH {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .dark-mode-toggle {
    position: static;
    margin-top: 10px;
  }
}
